In [142]:
import pandas as pd
import numpy as np

In [143]:
df = pd.read_excel('anscombes-quartet.xlsx')
df_cop = df.copy()

In [144]:
df.head()

    X     Y  X.1   Y.1  X.2    Y.2  X.3   Y.3
0  10  8.04   10  9.14   10   7.46    8  6.58
1   8  6.95    8  8.14    8   6.77    8  5.76
2  13  7.58   13  8.74   13  12.74    8  7.71
3   9  8.81    9  8.77    9   7.11    8  8.84
4  11  8.33   11  9.26   11   7.81    8  8.47

In [145]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11 entries, 0 to 10
Data columns (total 8 columns):
X      11 non-null int64
Y      11 non-null float64
X.1    11 non-null int64
Y.1    11 non-null float64
X.2    11 non-null int64
Y.2    11 non-null float64
X.3    11 non-null int64
Y.3    11 non-null float64
dtypes: float64(4), int64(4)
memory usage: 832.0 bytes

In [152]:
df.apply(func=np.mean,axis=0)

X      9.000000
Y      7.500909
X.1    9.000000
Y.1    7.500909
X.2    9.000000
Y.2    7.500000
X.3    9.000000
Y.3    7.500909
dtype: float64

In [153]:
df.apply(func=np.std,axis=0)

X      3.162278
Y      1.937024
X.1    3.162278
Y.1    1.937109
X.2    3.162278
Y.2    1.935933
X.3    3.162278
Y.3    1.936081
dtype: float64